.grid {
    border: 10px solid darkmagenta;
    display: flex;
    flex-wrap: wrap;
    height: 540px;
    width: 540px;
}

.grid div {
    height: 60px;
    width: 60px;
}


.start-line {
    background-color: royalblue;
}

.finish-line {
    background-color: red;
}

.froggy {
    background-color: rgba(54, 182, 0, 0.879);
    border-radius: 20px;
}

.c1 {
    background-color: black;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.c2, .c3 {
    background-color: darkgray;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.l1, .l2, .l3 {
    background-color: brown;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.l4, .l5 {
    background-color: aqua;
    border-bottom: 1px solid;
    border-top: 1px solid;
}