.grid {
    border: 10px solid darkmagenta;
    display: flex;
    flex-wrap: wrap;
    height: 540px;
    width: 540px;
}

.grid div {
    height: 60px;
    width: 60px;
}

.frog {
    background-color: rgba(54, 182, 0, 0.879);
}

.start-line {
    background-color: goldenrod;
}

.finish-line {
    background-color: red;
}
